:root {
    --accent-color: cyan; 
}

/* DIV kolone */

#column-left{ float: left; width: 25%; }
#column-right{ float: right; width: 25%; text-align: right; }
#column-center{ display: inline-block; width: 50%; transition-duration: all 0.5s;}

/* Uvodni deo sajta */
#uvod {
	text-align: center;
	border-bottom: 1px solid white;
}

#naslov {
	text-align: center;
	font-family: Courier New;
	font-size: 26pt;
}

/* -------Nove klase */
/* text */
.accent {
	color: cyan;
	transition-duration: 1s;
	font-family: courier new;
}

.default {
	color: white;
}

.defaultDiv {
	background: linear-gradient(to right, black, transparent);
	color: white;
}

.defaultDiv_toleft {
	background: linear-gradient(to left, black, transparent);
}
/* buttons */
.button_info {
  background-color: #FFD700;
  border: none;
  color: black;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s;
  cursor: help;
}

.button_info span {
  cursor: help;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_info span:after {
  content: '\1f6c8';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button_info:hover span {
  padding-right: 15px;
}

.button_info:hover span:after {
  opacity: 1;
  right: 0;
}

.important {
	font-size: 17px;
	background-color: var(--accent-color);
	color: black;
    border: 1.5px solid black;
    transition-duration: 0.4s;
}

.important:hover {
	font-size: 18px;
	background-color: black;
    color: var(--accent-color);
    border: 1.5px solid var(--accent-color);
    cursor: pointer;
}

.disabled {
	cursor: not-allowed;
}

.button_green {
	font-size: 14px;
	background-color: white;
	color: green;
    border: 1px solid green;
    transition-duration: 0.4s;
}

.button_green:hover {
	font-size: 14px;
	background-color: green;
    color: white;
    border: 1px solid green;
    cursor: pointer;
}

.button_grey {
	font-size: 14px;
	background-color: white;
	color: grey;
    border: 1px solid grey;
    transition-duration: 0.4s;
}

.button_grey:hover {
	font-size: 14px;
	background-color: grey;
    color: white;
    border: 1px solid grey;
    cursor: pointer;
}

.button_red {
	font-size: 14px;
	background-color: white;
	color: red;
    border: 1px solid red;
    transition-duration: 0.4s;
}

.button_red:hover {
	font-size: 14px;
	background-color: red;
    color: white;
    border: 1px solid red;
    cursor: pointer;
}

.button_blue {
	font-size: 14px;
	background-color: white;
	color: blue;
    border: 1px solid blue;
    transition-duration: 0.4s;
}

.button_blue:hover {
	font-size: 14px;
	background-color: blue;
    color: white;
    border: 1px solid blue;
    cursor: pointer;
}

.button_purple {
	font-size: 14px;
	background-color: white;
	color: purple;
    border: 1px solid purple;
    transition-duration: 0.4s;
}

.button_purple:hover {
	font-size: 14px;
	background-color: purple;
    color: white;
    border: 1px solid purple;
    cursor: pointer;
}

.button_orange {
	font-size: 14px;
	background-color: white;
	color: #ff4500;
    border: 1px solid #ff4500;
    transition-duration: 0.4s;
    font-weight: 550;
}

.button_orange:hover {
	font-size: 14px;
	background-color: #ff4500;
    color: white;
    border: 1px solid #ff4500;
    cursor: pointer;
}

/* input */
.default_input {
	height: 18pt;
	transition-duration: 0.7s;
}

.default_input:focus {
	--accent-color: cyan;
	height: 18pt;
	background: black;
	color: var(--accent-color);
	border-bottom: 2.3px solid var(--accent-color);
	border-radius: 11px;
	transition-duration: all 0.7s;
}

/* radial */
.radialContent {
	text-decoration: none;
}
.radialContent:hover {
	text-decoration: underline;
}

/* disable outline when focused */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Home div */

#Home {
	display: block;
}

#Home_levo {display: inline-block; float: left; width: 50%;}
#Home_desno {display: inline-block; float: right; width: 50%;}

/* Control Panel */

#CP_kategorije {
	--CP-background: red;
	--CP-border: blue;
	background: var(--CP-background);
	border: solid var(--CP-border);
	padding: 2%;
	margin-left: 45%;
}

#changeBackground {
	display: none;
}

#changeUvod {
	display: none;
}

#changeCalc {
	display: none;
}

#changeToDo {
	display: none;
}

#changeOstalo {
	display: none;
}

#changeExperiments {
	display: none;
}

/* Ostali elementi sajta */
.column{
	color: white;
}

.checktext{
	color: white;
	display: inline-block;
	line-height: 1%;
}

.radialTema {
	color: white;
	display: inline-block;
	line-height: 1px;
}

.radialContent {
	color: white;
	display: inline-block;
	line-height: 0.01;
}

.info{
	color: white;
}

.mikac_inc{
	color: yellow;
}

#changeContent{
	--ChangeContent-background: blue;
	--ChangeContent-border: red;
	background-color: var(--ChangeContent-background);
	border: solid var(--ChangeContent-border);
	width: 55%;
}

#changeTheme{
	border-top: 1px solid white;
	width: 55%;
}

#Body {
	--bckgrsmer: to right;
    --bckgr1: blue;
    --bckgr2: red;
	transition-duration: 1s;
	background: linear-gradient(var(--bckgrsmer), var(--bckgr1), var(--bckgr2));
	transition: all 1s linear;
}

#virtualRadio1{
	display: inline-block;
}


#virtualRadio2{
	visibility: hidden;
}

.virtualButtons {
	visibility: hidden;
}

#BuildInfoDiv {
	display: block;
}

#BuildInfoButtons {
	display: none;
}

#BuildInfoList03000 {
	display: none;
	list-style-type: circle;
}

#BuildInfoList04000 {
	display: none;
	list-style-type: circle;
}

/* Kalkulator */

#Calculator {
	display: none;
    transition: opacity 1s ease-out;
    opacity: 1; 
}
#Calculator.active {
	display: block;
    opacity: 1; 
}

#znak{
	font-size: 24px;
	color: white;
}

#znakjednako{
	font-size: 24px;
	color: white;
}

#znakkosacrta{
	color: white;
}

#rezultat {
	border: none;
    border-radius: 4px;
    background-color: white;
}

/* Štoperica */

#Stoperica {
	display: none;
	text-align: center;
}

#output {
	font-size: 28pt;
	transition-duration: 0.4s;
}

#StopericaZastave {
	color: var(--accent-color);
}

#StopericaMoved {
	font-family: courier new;
	font-size: 18px;
}

/* Random funkcije */

#Random {
	text-align: center;
	display: none;
}

#Random1x2x3x {
	background: linear-gradient(to right, red , blue);
}

#Random1x {
	display: none;
}

.RNDradialContent {
	color: white;
	display: inline-block;
	line-height: 0.01;
}

#Random1x_Levo {float: left; width: 25%;}
#Random1x_Desno {float: left; width: 75%;}

#RandomSabiranjeBrojevi {
	display: inline;
}

#Random1xSabiranje {
	display: none;
	text-align: center;
}

#Random2x {
	display: none;
}

#Random3x {
	display: none;
}

#Random3xOpcije {
	display: none;
}

#Random4x {
	display: none;
}

#Random3xInfoP {
	display: none;
}

#RandomKockicaDiv {
	display: none;
}

#Random1x_Br_Kock {
	display: inline-block;
}

#Random5x {
	display: none;
	text-align: center;
}

#Random6x {
	display: none;
	text-align: center;
}

#Random5x_levo {float: left; width: 75%;}
#Random5x_desno {float: right; width: 25%;}

#Random5xSrednjiContent {
	text-align: center;
}

#GGIzbor {
	display: none;
}
#GGIzvuci {
	display: none;
	text-align: center;
}
#GGIzaberi {
	display: none;
	text-align: center;
}
#GGInput {
	display: none;
	text-align: center;
	float: inline;
}
#GGProveri {
	display: none;
	text-align: center;
	float: inline;
}
#GGPretragaDiv {
	display: none;
	text-align: center;
}
/*------>>> To- Do lista css */
#todolevo {
	float: left;
	width: 50%;
}

#tododesno {
	float: right;
	width: 50%;
}

#todosettings {
	text-align: center;
	display: block;
}

#todonameinput2 {
	text-align: center;
	display: inline-block;
}

#To-Do {
	display: none;
	text-align: center;
}

.close {
    cursor: pointer;
    color: white;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

#todonameinput1{
	display: none;
	text-align: center;
}

#todonameinput2{
	display: none;
	text-align: center;
}

#myUL {
	transition-duration: all 0.5s;
	font-size: 20px;
}

#titlearhiva {
	font-size: 20px;
}

#arhiva {
	font-size: 16px;
	text-decoration: line-through;
}

/* Pomodoro */

#Pomodoro {
	display: none;
	text-align: center;
}

#PomOutput {
	font-size: 28pt;
}

/* Bojeee */

#Boje {
	display: none;
}
